 @media (max-width: 900px) {
     .carousel-inner {
         height: 300px;
     }

     .homeimg {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
     }

     .lastdivimg {
         display: block;
         margin-left: auto;
         margin-right: auto;
         width: 90%;
     }

 }