.card h5 {
    font-size: 20px;
}

.homeimg {
    width: 550px;
}

.lastdivimg {
    width: 550px;
}

.carousel-inner {
    height: 600px;
}

.sectorsimg {
    height: 400px;
}

.mapouter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.smalltitle {
    font-weight: 300;
}

/* .colimg {
    width: 402px;
} */