body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a {
    text-decoration: none;
    list-style: none;
}

p {
    font-size: 16px;
}

li {
    font-size: 20px;
    font-weight: 700px;
}

.header {
    font-weight: 2000px;
}

.title {
    font-family:  Roboto;
}

.card-header {
    font-size: 25px;
}

.bigtitle {
    font-size: 70px;
    font-weight: 2000px;
    font-family: Roboto;
}

.biggertitle{
    font-size: 150px;
    font-weight: 2000px;
    font-family: Roboto;
}

.undraw {
    width: 550px;
}

.bg-image {
    height: 80vh;
}

.nav li {
    color: rgb(255, 255, 255);
}

.divbox {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    border-color: rgb(7, 6, 6);
    height: 200px;
    width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block !important;
}

.contactbody {
    background-image: url(images/Creds\ to\ the\ owners!\ 💌\ on\ We\ Heart\ It.gif);
    background-repeat: no-repeat;
    background-size: cover;
}