body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a {
    text-decoration: none;
    list-style: none;
}

p {
    font-size: 19px;
}

li {
    font-size: 20px;
    font-weight: 700px;
}

.header {
    font-weight: 2000px;
}

.title {
    font-family:  Roboto;
}

.card-header {
    font-size: 30px;
}



